<!doctype html>
<html>
  <head>
    <link rel="stylesheet"type="text/css" href="/css/reset.css">
    <link rel="stylesheet"type="text/css" href="/css/main.css">
  </head>
  <body>
    <div id="login" class="wrapper">
    <header id="title"><h1>Welcome to <%= @user %>'s show!</h1></header>
    <div id="main">
      <div id="audience" class="role">
        <form action='/<%= @user %>/<%= @topic %>' method='POST'>
        <p><img src="/img/headphone.png" title="headphone"/></p>
        <input id="editAudience" type="text" size="15" value="Invitation Code"/><br/>
        <input type="hidden" name="role" value="Follower" />
        <input type="submit" value="I'm an audience." />
        </form>
      </div>
      <div id="speaker" class="role">
        <form action='/<%= @user %>/<%= @topic %>' method='POST'>
        <p><img src="/img/microphone.png" title="microphone"/></p>
        <input id="editSpeaker" type="text" size="15" value="Password"/><br/>
        <input type="hidden" name="role" value="Guide" />
        <input type="submit" value="I'm a speaker." />
        </form>
      </div>
    </div>
	<footer>
		<a href="/<%= @user %>/<%= @topic %>/invite">Invite Someone</a>
		<a href="/<%= @user %>/<%= @topic %>/welcome">QR Code &amp; URL</a>
		<a href="/me/about">About Slidown</a>
	</footer>
  </div><!-- #login end -->
  </body>
</html>
